#b-img{
    background:url("https://th.bing.com/th/id/R.6274f921fe030a48ad0d8ac1eb4170c2?rik=UrLBGunfyHwK3g&riu=http%3a%2f%2f2.bp.blogspot.com%2f-JHFW-GI9xZs%2fUUppnEHViOI%2fAAAAAAAADSM%2fTfu-qHRbgQw%2fs1600%2fbackgrounds%2bwallpapers%2b%2b14.jpg&ehk=Kw4D67F3bzI3U3usbMyYlAGeWSxNhCzxuyLz%2buBBBO0%3d&risl=&pid=ImgRaw&r=0");
    background-size: cover;
    background-repeat: no-repeat;
}
